.root{
    -fx-background-color: transparent;
}
.btnConfig{
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-background-radius: 0;
    -fx-border-color: grey;
    -fx-border-width: 0 0 1.3 0;
}
.btnConfig:hover{
    -fx-background-color: lightgrey;
    -fx-cursor: hand;
}
.btnConfig:pressed{
    -fx-background-color: grey;
    -fx-text-fill: black;
}